data/
checkpoints/
*.pth
*.pt
*.zip
*.mat
*.h5

__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

.ipynb_checkpoints/

.DS_Store
.AppleDouble
Thumbs.db
Desktop.ini

.env
.venv
venv/

.vscode/
.idea/
*.swp
